
<div class="row">
<div class="large-8 columns">
<div class="panel" id="homepanel">

<h1>Your Invoice</h1>

<span>
<h3><%= @product.name %></h3>
</span>
<span>
<%= @product.description %>
</span><hr><span>
<div> Amount(Rs) <%= @product.price %>
</div></span>
</div>


<hr>

<%= link_to "Back to shopping", root_url, class: "button" %>

</div>
</div>