
<div class="row">
<div class="large-8 columns">
<div class="panel" id="homepanel">

<h1>Your Invoice</h1>
<% @orders.each do |order| %>
<td><%= order.id %></td>
<td><%= Product.find(order.product_id).name %></td>
<td><%= Product.find(order.product_id).price %></td>
       
<% end %>

<hr>

<%= link_to "Back to shopping", root_url, class: "button" %>

</div>
</div>