<div class="row">
<div class="large-8 columns">
<h1>Previous orders</h1>

<table id="orders">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Product Name</th>
      <th>Amount(Rs.)</th>
      
    </tr>
  </thead>

  <tbody>
  
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= Product.find(order.product_id).name %></td>
        <td><%= Product.find(order.product_id).price %></td>
       
      </tr>
    <% end %>
    

  </tbody>
</table>
</div>
</div>


