<% if customer_signed_in? %>
<div class="row">
  <div class="large-8 columns">
   <section>
    <%= render 'listingproducts' %>
   </section>
   <br>
  </div>
  <div class="large-4 columns">
   <!--<%= render 'shared/shoppingcart' %>-->
  </div>
</div>
<div class="row"></div>
<div class="row">
  <div class="small-11 small-centered columns">
    <% if current_customer.admin? %>
    <%= link_to 'Add New product', new_product_path,class: "button" %>
    <% end %>
  </div>
</div>


<% else %>
<div class="container">
<div class="row">
<div class="twelve columns">
<div class="panel">
<div class="content">
<h1> Welcome to shopping portal! </h1>

<%= link_to "Sign up", new_customer_registration_path, :method => :get,class: "button" %>
</div>
</div>
</div>
</div>
</div>
<% end %>
